<div class="container mt-5">
  <h2>Impressum - Über uns</h2>
  <br>
  <p>Cloud Nine e.U.</p>
  <p>Tobias Fuchs</p>

  <p> Edgarstraße 10, Stiege 1 Tür 1 <br>
      1234 Edgarhausen <br>
      Österreich</p>

  <p><b>Tel.:</b> 0800 200 593 <br>
     <b>Fax:</b> 0800 200 593-0 <br>
     <b>Email:</b> office&#64;cloudnine.com </p>

  <p> <b>Firmenbuchnummer: </b> 123123a <br>
      <b>Firmenbuchgericht: </b> Edgarhausen <br>
      <b>Firmensitz: </b> 1234 Edgarhausen <br>
      <b>Unternehmnensgegenstand: </b> Verkauf von E-Zigaretten <br>
      <b>UID-Nummer: </b> ATU123498765 <br>
      <b>GLN (Global Location Number):</b> 869275828483 <br>
      <b>GISA (Gewerbeinformationssystem Austria): </b> 85929563 <br>
      <b>Mitglied bei: </b> WKO, Landesinnung <br>
      <b>Berufsrecht: </b> Edgar Berufsrechtliche Regelung</p>

  <p> <b>Aufsichtsbehörde/Gewerbebehörde: </b> Bezirkshauptmannschaft Edgarhausen <br>
      <b>Webseite: </b> https://www.cloudnine.at/ <br>
      <b>Anschrift</b> <br>
      Edgarbehörde <br>
      Edgarstraße 47, 1234 Edgarhausen, <br>
      Österreich
  </p>
</div>
